import { bootstrapApplication } from '@angular/platform-browser';
import { appConfig } from './app/app.config';
import { <%= componentName %> } from './app/app.component';

bootstrapApplication(<%= componentName %>, appConfig).catch((err) =>
  console.error(err),
);
